/* Import custom fonts */
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

* {
    color: white;
    font-family: "Red Hat Display";
}

/* Navigation bar styling */
.navbar ul {
    list-style-type: none;
    background-color: rgba(156, 207, 190, 0.805);
    border-radius: 20px;
    padding: 10px;
    color: #2fa2fa;
    text-align: center;
    font-size: 13pt;
}

.navbar a {
    color: #246ab5;
    text-decoration: none;
    padding: 5px;
    display: block;
    text-align: right;
}

.navbar {
    position: sticky;
    top: 0;
}

.navbar a:hover {
    color: hsl(0, 0%, 10%);
    background-color: #2fa2fa;
    border-radius: 20px;
}

.navbar li:nth-child(even) {
    display: inline-block;
    background-color: #f9bc60;
    color: #001e1d;
    border-radius: 20px;
}

.navbar li:nth-child(odd) {
    display: inline-block;
    background-color: #e99311;
    color: #001e1d;
    border-radius: 20px;
}
/* end */

h1#title {
    text-align: center;
}

body {
    background-color: #004643;
}

p.cm {
    font-size: 14pt;
    text-decoration: underline;
}

img.flag {
    width: 60mm;
}

#impTbag {
    color: rgb(252, 84, 84);
}

/* Contact Link Styling */
.ct {
    text-decoration: none;
    background-color: #e16162;
    border-radius: 20pt;
    padding: 4px;
    color: #001e1d;
}

.ct:visited {
    background-color: #abd1c6;
    color: #008c87;
}

/* end */

/* PC Build Gallery Image Styling */
.pcBuild {
    width: 200pt;
}

/* end */

/* Project Link Styling */
.projlink {
    text-decoration: none;
    background-color: #f9bc60;
    color: #001e1d;
    padding: 5px;
    border-radius: 20px;
    border: 10px;
}

.projlink:hover {
    background-color: #2fa2fa;
    color: #001e1d;
}

.projlink:visited {
    background-color: #abd1c6;
    color: #008c87;
}
/* end */

/* Form styling */
input#message {
    width: 50%;
    padding-bottom: 100px;
    padding-right: 100px;
}

input#fname, input#lname {
    width: 40%
}

input[type=text] {
    color: black;
}

input[type=email] {
    color: black;
    width: 50%;
}
/* end */

/* Image styling */
#amogus {
    width: 6px;
}

#gamingpc {
    width: 10cm;
}

.gallery {
    width: 8cm;
}

.logo {
    height: 2cm;
    margin-bottom: 10pt;
}
/* end */

/* 
**COLOR PALETTE FOR FUTURE REF**

*Elements*
Background: #004643
Headline: #fffffe
Paragraph: #abd1c6
Button: #f9bc60
Button text: #2fa2fa

*Illustration*
Stroke: #001e1d
Main: #e8e4e6
Highlight: #f9bc60
Secondary: #abd1c6
Tertiary: #e16162
*/