/* Import custom fonts */
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
    color: white;
    font-family: "Red Hat Display";
}

/* Navigation bar styling */
.navbar li {
    display: inline-block;
}

.navbar ul {
    list-style-type: none;
    background-color: rgba(156, 207, 190, 0.805);
    border-radius: 20px;
    padding: 10px;
    color: #2fa2fa;
    text-align: center;
    font-size: 13pt;
}

.navbar a {
    color: #246ab5;
    text-decoration: none;
    padding: 5px;
    display: block;
    text-align: right;
}

.navbar a:hover {
    color: hsl(0, 0%, 10%)
}

.navbar li:hover {
    background-color: #2fa2fa;
}

h1#title {
    text-align: center;
}


body {
    background-color: #004643;
}

p {
    color: white;
}

p.cm {
    font-size: 14pt;
    text-decoration: underline;
}

img.flag {
    width: 60mm;
}

/* Navigation bar styling */
.navbar li {
    display: inline-block;
    background-color: #f9bc60;
    color: #001e1d;
    border-radius: 20px;
}

.navbar ul {
    list-style-type: none;
    background-color: rgba(156, 207, 190, 0.805);
    padding: 10px;
    color: #2fa2fa;
    text-align: center;
    font-size: 13pt;
}

.ct {
    text-decoration: none;
    background-color: #e16162;
    border-radius: 20pt;
    padding: 4px;
    color: #001e1d;
}

.projlink {
    text-decoration: none;
    background-color: #f9bc60;
    color:#001e1d;
    padding: 5px;
    border-radius: 20px;
}

.logo {
    height: 2cm;
    margin-bottom: 10pt;
}

/* Image styling */
#amogus {
    width: 6px;
}

#gamingpc {
    width: 10cm;
}

.gallery {
    width: 8cm;
}

/* 
**COLOR PALETTE FOR FUTURE REF**

*Elements*
Background: #004643
Headline: #fffffe
Paragraph: #abd1c6
Button: #f9bc60
Button text: #001e1d

*Illustration*
Stroke: #001e1d
Main: #e8e4e6
Highlight: #f9bc60
Secondary: #abd1c6
Tertiary: #e16162
*/