.navbar-nav {
    flex-direction: row;
}

.navbar-nav li {
    margin-right: 20px;
}

.navbar-nav li:last-child {
    margin-right: 0;
}

.farhan {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.section-title {
    margin-top: 30px;
    color: #343a40;
}

.content {
    padding: 20px;
}

.content p {
    font-size: 1.1rem;
}

.content a {
    font-weight: bold;
}